/*
#grid{

}
#Gameboard{

}
*/

.tileBody:not(first-child){
    margin: 0 auto;
}

.tileBody {
    width:15vh;
    background-color:white;
    box-shadow: 2px 2px 2px 2px lightgrey;
}
/*
.tileBody:after {

}
*/

.tileImg{
    width: 80%;
    margin: 0 auto;     
}
/*
.spacer{

}
*/

.moveColTop{
    width:16vh;
    max-height: 15vh;
} 
.moveColTop > *{
    color:black;
    margin-bottom:0px;
}
/*
.moveColBottom{

}
.moveRow{
}
*/

.moveColBottom > svg{
    color:black;
}

.moveRow > svg{
    max-height:15vh;
    color:black;
}

.moveColTop > svg:hover, .moveColBottom > svg:hover, .moveRow > svg:hover{
    color:grey;
}