.mZeroAuto{
    margin:0 auto;
}
.grid{
    display:inline-block;
    width: 60%;
}

div.tileBody{
    display:inline-block;
    width:15vh;
    background-color:white;
    box-shadow: 2px 2px 2px 2px lightgrey;
    text-align:center;
    margin-left:1vh;
    font-family: cursive;

}

div.arrestAttempt{
    border:5px solid #00D019
}


.tileImg{
    width: 80%;
    margin: 0 auto;
}

.colBtn{
    padding:0 6vh;
    width:16.1vh;
}


.tileBody:nth-child(2), .colBtn:nth-child(2){
    margin-left:0;
}

.rowLeftBtn{
    margin: auto 0;
}

.rowRightBtn{
    margin: auto 0;
}

.rowLeftBtn > svg, .rowRightBtn > svg, .colBtn {
    color:black;
}

.rowLeftBtn > svg:hover, .colBtn > svg:hover, .rowRightBtn > svg:hover{
    color:grey;
}

div.evidenceBody{
    display:inline-block;
    width:15vh;
    background-color:white;
    box-shadow: 2px 2px 2px 2px lightgrey;
    text-align:center;
    margin-left:1vh;
}

.evidenceHeader{
    text-align:center;
}

div.alibiBody{
    display:inline-block;
    width:10vh;
    background-color:white;
    box-shadow: 2px 2px 2px 2px lightgrey;
    text-align:center;
    margin-left:1vh;
}

.txtBlue{
    color: blue;
}

.txtRed{
    color: red;
}
.spacer{
    display:inline-block;
    width:3vh;
}