.mZeroAuto{
    margin:0 auto;
}
.grid{
    display:inline-block;
    width: 60%;
}

div.tileBody{
    display:inline-block;
    width:15vh;
    /*background-color:#4F4F4F;*/
    /*box-shadow: 2px 2px 2px 2px lightgrey;*/
    text-align:center;
    margin: 1vh;
    font-family: cursive;
    position: relative;
    /*border: 5px solid #E65338;*/
    border-radius: 5%;

}

div.arrestAttempt{
    border:5px solid #00D019
}


.tileImg{
    width: 80%;
    margin: 0 auto;
    border-radius: 5%;

}

.colBtn{
    padding:0 6vh;
    width:17vh;
}


.tileBody:nth-child(2), .colBtn:nth-child(2){
    margin-left:0;
}

.rowLeftBtn{
    margin: auto 1vh;
}

.rowRightBtn{
    margin: auto 0;
}

.rowLeftBtn > svg, .rowRightBtn > svg, .colBtn {
    color:#E65338;
}

.rowLeftBtn > svg:hover, .colBtn > svg:hover, .rowRightBtn > svg:hover{
    color:grey;
}

div.evidenceBody{
    display:inline-block;
    width:15vh;
    background-color:white;
    box-shadow: 2px 2px 2px 2px lightgrey;
    text-align:center;
    margin-left:1vh;
}

.evidenceHeader{
    text-align:center;
}

div.alibiBody{
    /*
    display:inline-block;
    width:10vh;
    background-color:white;
    box-shadow: 2px 2px 2px 2px lightgrey;
    text-align:center;
    margin-left:1vh;
    position: relative;
    */
    display:inline-block;
    width:15vh;
    /*background-color:#4F4F4F;*/
    /*box-shadow: 2px 2px 2px 2px lightgrey;*/
    text-align:center;
    margin: 1vh;
    font-family: cursive;
    position: relative;
    /*border: 5px solid #E65338;*/
    border-radius: 5%;
}

.txtBlue{
    color: blue;
}

.txtRed{
    color: red;
}
.spacer{
    display:inline-block;
    width:4vh;
}

.tileBody  > img.overlay{
    position: absolute;
    top: 0;
    left: 0;
}

.alibiBody  > img.overlay{
    position: absolute;
    top: 0;
    left: 0;
}

.markPlayer{
    box-shadow: 0px 0px 5px 5px #E65338 !important;
}

.textRed{
    color:red;
}